<!--
  http://docs.octoprint.org/en/master/jsclientlib/index.html
-->
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/jquery/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/lib/lodash.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/app/client/base.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/app/client/socket.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="js/app/client/connection.js") }}"></script>
<script>var opClient = new OctoPrintClient({baseurl: "", apikey: ""});</script>

<form>
  <div class="form-group">
  <h5 style="margin:0;">Printer Connection</h5>
  <div data-bind="if: !isConnected()">
    <button class="btn" data-bind="click: function(){opClient.connection.connect()}">
    <i class="icon-signin btnIcon"></i>Connect</button>
  </div>
  <div data-bind="if: isConnected()">
    <button class="btn" data-bind="click: function(){opClient.connection.disconnect()}">
    <i class="icon-signout btnIcon"></i>Disconnect</button>
  </div>
  </div>
</form>

<h5 style="margin:0;">EEPROM Manager</h5>
<div style="font-weight:bold;font-size: 10px;">
<span data-bind="visible: ($root.eepromLoaded() && isConnected())" style="color:green;">EEPROM Loaded</span>
<span data-bind="visible: (!$root.eepromLoaded() || !isConnected())" style="color:orange;">EEPROM Not Loaded</span>
</div>
<p data-bind="visible: isConnected()">
Your machine is
 <span style="color: red" data-bind="visible: !isRepetierFirmware()">not</span>
 Repetier Firmware based.
</p>
<p data-bind="visible: !isConnected()">
No Connection to printer.
</p>
<form class="form-horizontal">
    <button class="btn" data-bind="enabled: isRepetierFirmware, click: loadEeprom, visible: (isConnected() && isRepetierFirmware())">
      <i class="icon-download-alt btnIcon"></i>Load EEPROM</button>

    <button class="btn" data-bind="enabled: isRepetierFirmware, click: saveEeprom, visible: ($root.eepromLoaded && isConnected() && isRepetierFirmware())">
      <i class="icon-upload-alt btnIcon"></i>Save EEPROM</button>
</form>

<!-- Selection -->
  <div data-bind="visible: ($root.eepromLoaded() && isConnected()), foreach: self.categorizedEeprom" class="panel-group" id="accordion">
    <div class="categorizedEepromCategory panel panel-default">
      <div class="panel-heading">

        <h5 class="panel-title" data-bind="click: function(){collapseAllBootstrapAccordionPanels($index());}">
          <!-- Icon -->
          <div class="eepromCategorySettingsIcon">
            <i data-bind="attr:{class: 'icon-' + self.categorizedEeprom[$index()].Icon}"></i>
          </div>
          <!-- /Icon -->
          <!-- Counter Blob, indicates how much devices are in this category -->
          <div data-bind="if: $root.eepromLoaded()" class="eepromCategorySettingsCounter">
            <span data-bind="text: EEPROM_Values().length"></span>
          </div>
          <!-- /Counter Blob -->
          <a data-toggle="collapse" data-parent="#accordion" data-bind="text: Name, attr:{href: '#collapse' + $index()}">
          </a>
        </h5>
      </div>
      <!-- Accordion Panel Body -->
        <div data-bind="if: $root.eepromLoaded(), attr:{id: 'collapse' + $index()}" class="eepromCollapse panel-collapse collapse">
          <i data-bind="visible: (EEPROM_Values().length<1)">
          Nothing to show here yet.
          </i>
          <table class="panel-body eepromContentPanel">
          <!-- Iterating over EEPROM_Values from this category -->
          <tbody data-bind="foreach: $data.EEPROM_Values()">
            <tr>
              <!-- addToFavorites -->
              <td style="padding: 0 7px;">

                <i class="icon-star" data-bind="visible: ($parent.Name != 'Favorites'),click: function(){updateFavorites($data);}"></i>

                <i style="font-size: 10px; color: #0088cc;" data-bind="visible: ($parent.Name == 'Favorites'), attr: {class: 'icon-' + $data.Icon }"></i>

              </td>
              <!-- description -->
              <td data-bind="text: $data.description" class="eepromContentDescriptionLabel"></td>
              <!-- textbox -->
              <td><input type="text" data-bind="value: $data.value" class="eepromContentInputBox"/></td>
              <!-- trashcan -->
              <td data-bind="if: ($parent.Name == 'Favorites')"><i class="icon-trash" data-bind="click: function(){console.log($data);console.log($parent);}" style="font-size: 17px;"></i></td>
            </tr>
            </tbody>

          </table>
        </div>
      <!-- /Accordion Panel Body -->
    </div>
  </div>
